* {
    --primary-color: rgb(174, 86, 201);
    --secondary-color: rgb(219, 171, 238);
    --tertiary-color: rgb(255, 255, 255);
    --transparent: rgba(0, 0, 0, 0);
    --game-listing-width: 14rem;
    --game-listing-height: 17rem;
}

body {
    background-color: var(--secondary-color);
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.tertiary-color {
    background-color: var(--tertiary-color);
}

.transparent {
    background-color: var(--transparent);
}

/*Navbar*/

header {
    overflow: hidden;
}

.search {
    --search-padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: var(--search-padding);
    background: #f6f6f6;
}

.search-input {
    font-size: 16px;
    color: #333333;
    margin-left: var(--search-padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.topnavbar-logo img {
    overflow: hidden;
    object-fit: contain;
}

/*Game Listings*/

.game-lisitng-container {
    overflow-y: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1% 2.5%;
    transition: 1s;
}

.game-lisitng-container div.game-listing:hover {
    transform: scale(1.1);
} 


.game-lisitng-container a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.game-listing {
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: var(--game-listing-width);
    height: var(--game-listing-height);
    margin: 20px 20px;
}

.card-body {
    width: 102%;
    transform: translate(-1%, -1%);
}

/*Game Listing Style*/

.group-listing-container {
    width: 95%;
    margin: 1% 2.5%;
    overflow-y: auto;
}

.group-listing {
    border-style: solid;
    border-color: grey;
    border-width: 4px;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.group-listing button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.tag {
    margin: 0 5px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 0 5px;
}

.listing-text {
    overflow-y: auto;
}

.group-listings-header {
    width: 99%;
    height: 175px;
    display: flex;
    justify-content: space-around;
}

.group-listings-header div.card {
    width: 75%;
    height: 95%;
    overflow: hidden;
    margin-top: 5px;
}

.group-listings-header div.card img.card-img-top {
    position: relative;
    height: 70%;
}

.group-listings-header div.card h3.card-title {
    text-align: center;
}

.group-listings-header-buttons-container {
    display: flex;
    justify-content: space-around;
    
}
